<a href="https://colab.research.google.com/github/Juliakkk/python_iad_2022/blob/main/hw02_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [30]:
import pandas as pd
import numpy as np

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [6]:
from google.colab import drive
drive.mount('/content/drive')

dfListInfo = []

for i in range(10):
  firstDF = pd.read_csv('/content/drive/MyDrive/Data/Students_info_' + str(i) + '.csv')
  dfListInfo.append(firstDF)

dfListMarks = []

for i in range(10):
  secDF = pd.read_csv('/content/drive/MyDrive/Data/Students_marks_' + str(i) + '.csv')
  dfListMarks.append(secDF)

dfF = pd.concat(dfListInfo)
dfS = pd.concat(dfListMarks)
df = pd.merge(dfF, dfS, how = 'left')
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   index  gender race/ethnicity  ... math score reading score writing score
0      0  female        group B  ...         72            72            74
1      1  female        group C  ...         69            90            88
2      2  female        group B  ...         90            95            93
3      3    male        group A  ...         47            57            44
4      4    male        group C  ...         76            78            75

[5 rows x 10 columns]

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [7]:
df = df.drop(['index'], axis='columns')
df.head(10)

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75
5  female        group B  ...            83            78
6  female        group B  ...            95            92
7    male        group B  ...            43            39
8    male        group D  ...            64            67
9  female        group B  ...            60            50

[10 rows x 9 columns]

#### Задание 3. Выведите на экран размеры полученной таблицы

In [8]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [12]:
dfNum = df.select_dtypes(include = 'int')
dfNum.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [13]:
df.isna().value_counts()

gender  race/ethnicity  parental level of education  lunch  test preparation course  group  math score  reading score  writing score
False   False           False                        False  False                    False  False       False          False            1000
dtype: int64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [16]:
dfNum.mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [34]:
notPrepared = df[df['test preparation course'] == 'none'].select_dtypes(include = 'int')
prepared = df[df['test preparation course'] == 'completed'].select_dtypes(include = 'int')
print('Mean scores for not prepared stedents: \n', notPrepared.mean(), '\n', 'Mean scores for PREPARED stedents: \n', prepared.mean())

SyntaxError: ignored

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [25]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [53]:
df.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'})

     gender race/ethnicity  ... reading score writing score
0    female        group B  ...            72            74
1    female        group C  ...            90            88
2    female        group B  ...            95            93
3      male        group A  ...            57            44
4      male        group C  ...            78            75
..      ...            ...  ...           ...           ...
995  female        group E  ...            99            95
996    male        group C  ...            55            55
997  female        group C  ...            71            65
998  female        group D  ...            78            77
999  female        group D  ...            86            86

[1000 rows x 9 columns]

**Зафиксируем минимальный балл для сдачи экзамена**

In [15]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [37]:
passedMath = df[df['math score'] >= 50]
print('Part of the students who passed the math: ', len(passedMath)/len(df))
passedPrepMath = prepared[prepared['math score'] >= 50]
print('Part of the students who prepared and passed the math: ', len(passedPrepMath)/len(prepared))
notpassedFemNP = df[df['gender'] == 'female' and df['math score'] < 50 and df['test preparation'] == 'none']
notpassedFemNP.head(10)

Part of the students who passed the math:  0.865
Part of the students who prepared and passed the math:  0.9217877094972067

TypeError: ignored

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [57]:
%%time
aggReadFunc = {'reading score': ['mean']}
print(df.groupby(['race/ethnicity']).agg(aggReadFunc))

aggWritingFunc = {'writing score': ['min']}
print(df.groupby(['education']).agg(aggWritingFunc))

               reading score
                        mean
race/ethnicity
group A            64.674157
group B            67.352632
group C            69.103448
group D            70.030534
group E            73.028571
                   writing score
                             min
education
associate's degree            35
bachelor's degree             38
high school                   15
master's degree               46
some college                  19
some high school              10
CPU times: user 17.5 ms, sys: 3.02 ms, total: 20.5 ms
Wall time: 22.7 ms

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [ ]:
# your code here

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
# your code here

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
# your code here

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [ ]:
def GetGrade(average_mark):
    # your code here    

# your code here